# MySQL Database Configuration
MYSQL_ROOT_PASSWORD=changeme_root
MYSQL_DATABASE=example_db
MYSQL_USER=example_user
MYSQL_PASSWORD=changeme_password
MYSQL_HOST=your_db_host_or_ip

DB_PORT=13306

# RabbitMQ Configuration
RABBITMQ_USER=example_rabbitmq_user
RABBITMQ_PASS=changeme_rabbitmq_pass
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Backend Service
BACKEND_PORT=8080
REACT_APP_WS_URL=ws://external.server.com:8080
