/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

 * {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  height: 100vh;
  font-family: sans-serif;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  appearance: none;
  font-size: 1.3rem;
  cursor: pointer;
}

.addCubesatPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightblue;
  padding: 20px;
  text-align: center;
}